/* @override
	http://localhost:4000/css/main.css */


@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,100,300italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
* {
    margin: 0px;
    padding: 0px;
}
body {
    color: #141515;
    font-family:"Spoqa Han Sans", -apple-system,system-ui, "Segoe UI", Roboto, "Nanum Gothic", "Helvetica Neue", Arial,sans-serif;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main {
    width: 1100px;
}
#main h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Spoqa Han Sans",-apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Nanum Gothic", "Jeju Gothic", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-weight: 400;
    color: #315572;
}
#main h4 {
    line-height: 1.6em;
}
.default-margin {
    margin-left: auto;
    margin-right: auto;
}
.vertical-middle {
    display: table;
}
.vertical-middle-item {
    display: table-cell;
    vertical-align: middle;
}
/* Slide banner */
#slide_banner {
    height: 440px;
}
/* Navigation bar */
nav {
    width: 1100px;
    height: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: right;
}
nav .nav-item{
    margin: 0 48px 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
nav .nav-item a{
    font-size: 16px;
    color: #333333
}
nav .nav-item a:hover{
    font-size: 16px;
    text-decoration: underline;
    color: #394889
}
#pagination {
    width: 820px;
    margin-top: 60px;
    float: left;
}
#readmore-btn {
    width: inherit;
    margin-top: 30px;
    margin-bottom: 80px;
    float: left;
    text-align: center;
}
#readmore-btn img {
    height: 40px;
}
#readmore-btn p {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
.paginate-card {
    width: 300px;
    height: 340px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 40px;
    float: left;
    background-color: #f9f9f9
}
.paginate-card .post-meta {
    width: inherit;
    height: 20px
}
.paginate-card .post-meta .category {
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 0 0 0;
    font-size: 14px;
    text-decoration: underline;
    float: left
}
.paginate-card .date {
    vertical-align: middle;
    float: right
}
.paginate-card .date p {
    font-size: 12px;
    margin: 0 0 0 0;
    color: #8c8c93;
    float: right
}
.paginate-card .date img {
    width: 12px;
    height: 12px;
    margin: 4px 8px 4px 8px;
    float: right
}
.paginate-card .thumbnail {
    width: 300px;
    height: 110px;
    margin-top: 20px;
}
.paginate-card .title {
    color: #333333;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0px;
    height: 100%;
}
.paginate-card .content {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    overflow: hidden;
    margin-bottom: 0px;
    text-align: justify;
}
.paginate-card .author-info {
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.paginate-card:hover {
    border: 1px solid #333333;
    padding: 39px;
    background-color: #FFFFFF
}
.paginate-card:hover .title {
    color: #394889;
}
/* Side bar */
#side-bar {
    width: 250px;
    list-style: none;
    float: right;
    margin:0px;
    padding: 0px;
}
#side-bar li {
    margin: 80px 0 0 0;
    /* please remove this */
    height: 400px;
    background: #88c2c2;
}
.heading {
    font-family: "Spoqa Han Sans","Jeju Gothic", serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 1.2em;
    margin-bottom: 1.3em;
}
.heading a {
    color: #126ab1;
}
p em {
    font-style: italic;
	font-size: 98%;
}
.post {
    width: 840px;
}
.meta {
    color: #666666;
    font-family: "Spoqa Han Sans", -apple-system, "Roboto", Courier, mono;
    font-weight: 100;
    text-align: left;
    margin-bottom: 1em;
    height: 32px;
    margin-top: -1.5em;
}
h2 {
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1em;
}
h6 {
    font-size: 12px;
    font-style: italic;
}
p {
    font-size: 0.8em;
    margin-bottom: 15px;
    margin-top: 12px;
    line-height: 1.7em;
}
p strong {
    font-weight: 500;
    font-style: normal;
    font-family: "Spoqa Han Sans",Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif !important;
}
table {
    border-collapse: collapse;
    min-width: 300px;
    margin: 0 auto;
}
table, th, td {
    border: 1px solid black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.label {
    display: inline-block;
    padding: .3em .6em .4em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 100%;
    margin-right: 6px;
    margin-bottom: 5px;
}
.label a {
    font: "Spoqa Han Sans", -apple-system, Roboto, Helvetica Neue, Helvetica, "Open Sans", Arial, sans-serif;
    font-size: 75%;
    font-weight: 300 !important;
    color: #ffffff;
}
.label-default {
    background-color: #254d82
}
.label-default:hover {
    background-color: #75a0de
}
.label-default a:hover {
    color: #ffffff !important
}
.permalink a {
    font-size: 90%;
    text-decoration: none;
}
.tag-header {
    font-family: "Spoqa Han Sans",Raleway, Helvetica;
    text-transform: uppercase;
}
hr {
    margin: 32px 0em;
    background: #eee;
    height: 1px;
    border-style: none;
}
ul {
	margin: 20px;
}
li {
    margin-left: 5%;
	margin-top: 5px;
	line-height: 1.6em;
  font-family:"Spoqa Han Sans", -apple-system,system-ui, "Segoe UI", Roboto, "Nanum Gothic", "Helvetica Neue", Arial,sans-serif;
	font-size: 0.9em;
	margin-bottom: 5px;
}
a {
    color: #76a0de;
    text-decoration: none;
}
a:hover {
    color: #394889
}
#main p img {
    width: 100%
}
.badge {
    background-color: #c25a5a;
}
blockquote {
    border-left: 5px solid #8197b9;
    padding-left: 1.5em;
    padding-top: 0.32px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 100;
    padding-bottom: 0.32px;
}
footer {
    background-color: #333333;
    height: 80px;
    width: 100%;
    display: table;
}
footer .vertical-align {
    display: table-cell;
    vertical-align: middle;
}
footer .vertical-align #footer-content {
    width: 1100px;
}
footer p {
    color: #949494;
}
pre {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 0.7em;
	margin-top: 30px;
	margin-bottom: 30px;
}
pre,
code {
	font-family: "Droid Sans Mono", "Monaco", "Courier New", Courier, mono;
}
code {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position: relative;
    color: #494949;
    background-color: #f7f7f7;
    padding: 0.32px 0.5em;
	font-size: 0.9em;
}
#archive h3,
#tags h3 {
    margin-bottom: 1em
}
#archive li,
#tags li {
    margin-bottom: 10px;
    list-style-type: none;
    margin-left: 10px;
}
#profile img {
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#archive li span,
#tags li span {
    font-family: "Spoqa Han Sans",Roboto, Helvetica Neue, Helvetica, Arial, Sans-serif !important;
    font-weight: 300;
    color: #305471;
}
#archive li span.details,
#tags li span.details {
    font-weight: 300;
    color: #9f9f9f;
    font: 14px "Spoqa Han Sans","Open Sans", Helvetica Neue, Helvetica, Arial, Sans-serif !important;
    position: relative;
    top: 2px;
    margin-right: 5px;
    margin-left: 32px;
}
.pager {
    padding-left: 0;
    margin: 50px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline
}
.pager .previous a {
    float: left
}
.pager .next a {
    float: right
}
