---
layout: default
title: Tmax.ai
group: navigation
---

<!-- slide banner -->
<img id="slide_banner" src="/assets/img/icon/banner_sample.jpg"/>

<section id="main" class="default-margin">
  <!-- pagination 영역 -->
  <div id="pagination">
    {% for post in paginator.posts %}
      <!-- paginate card -->
      {% include paginate_card.html %}

    {% endfor %}

    <!-- READ MORE button-->
    <div id="readmore-btn">
      <div style="display: inline-block">
          <img src="/assets/img/icon/down_arrow.png"/>
          <p>READ MORE</p>
      </div>
    </div>
  </div>

  <!-- 빈 공간 -->

  <!-- 우측 사이드 바 영역 -->
  <ul id="side-bar">
    <!-- 인기 포스트 영역 -->
    <li>
      Top5 list
    </li>
    <!-- Tags 영역 -->
    <li>
      Tags list
    </li>
  </div>
</section>
