<article class="paginate-card">
    <div class="post-meta">
        <!-- post category -->
        <p class="category">{{ post.categories }}</p>
        <!-- posted date -->
        <div class="date">
            <p>{{ post.date | date: "%Y.%m.%d" }}</p>
            <img src="/assets/img/icon/watch.png"/>
        </div>
    </div>
    <!-- 대표 이미지 있을 때 -->
    {% if post.thumbnail %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <img class="thumbnail" src="{{ post.thumbnail }}"/>
            <!-- 제목 -->
            <p class="title" style="margin-top: 20px; max-height: 2.5em; overflow: hidden">{{ post.title | strip_html | truncatewords: 15}}</p>
        </a>
        <!-- 본문 -->
        <p class="content" style="margin-top: 16px; max-height: 2.8em">
            {% if post.excerpt %}
                {{ post.excerpt | strip_html | truncatewords: 30}}
            {% else %}
                {{ post.content }}
            {% endif %}
        </p>
    <!-- 대표이미지 없을 때 -->
    {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            <!-- 제목 -->
                <p class="title vertical-middle-item" style="margin-top: 30px; max-height: 3.7em; overflow: hidden">{{ post.title | strip_html | truncatewords: 15}}</p>
        </a>
        <!-- 본문 -->
        <p class="content" style="margin-top: 30px; max-height: 8.3em">
            {% if post.excerpt %}
                {{ post.excerpt | strip_html | truncatewords: 40}}
            {% else %}
                {{ post.content }}
            {% endif %}
        </p>
    {% endif %}
    <!-- author information -->
    {% assign author = site.data.authors[post.author] %}
    {% if author %}
    <div class="author-info vertical-middle">
        <img class="vertical-middle-item" style="width: 40px; height:40px" src="/favicon.ico"/>
        <p class="vertical-middle-item" style="width: 100%; padding-left: 10px; font-size: 14px"> <i>by</i> {{ author.name }}</p>
    </div>
    {% endif %}
    <!-- author
    <p>
        {% assign author = site.data.authors[post.author] %}
        {% if author %}
            <B>Written by {{author.name}}</B>
        {% endif %}
    </p> -->
    <!-- {% include tags.html %} -->
</article>